#ingredients {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 0;
    gap: 2rem;
}

.ingredient {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.ingridentcontent1 {
    display: grid;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    max-width: 600px;
    
    
}

.ingridentcontent1 p {
    font-size: 1rem;
    color:black;
    line-height: 1.6;
}

.ingridentcontent1 h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

.ingridentcontent2 {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    padding: 2rem;
    width: 300px;
    height: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #101010;
}

.ingridentcontent2 h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.ingridentcontent2 p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.ingridentcontent2 p:last-child {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    color: #ffd700;
}




.ingridentcontent2:nth-child(2) {
    background-image: url('../assest/bn2-2.jpg.png');
}

.ingridentcontent2:nth-child(3) {
    background-image: url('../assest/bn2-2.jpg.png');
}

.ingridentcontent2:nth-child(4) {
    background-image: url('../assest/bn2-3.jpg.png');
}

.ingridentcontent2:nth-child(5) {
    background-image: url('../assest/bn2-4.jpg.png');
}
.ingridentcontent2:nth-child(6) {
    background-image: url('../assest/bn2-5.jpg.png');
}


@media (max-width: 768px) {
    .ingredient {
        gap: 1rem;
    }

    .ingridentcontent2 {
        width: 80%;
        height: auto;
        padding: 1.5rem;
    }
    .ingridentcontent1 {
        text-align: center;
        
    }
}

@media (max-width: 480px) {
    .ingridentcontent2 {
        width: 100%;
    }

    .ingridentcontent1 {
        text-align: center;
        
    }
}
